@import "/css/reset.css";
@import "/css/header.css";
@import "/css/home.css";

body {
    font-family: "Manrope", serif;
    font-weight: 500;
    font-style: normal;
}

.container { 
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 10px;
}

.gallery-item, .preview-img{
    max-width: 300px;
}